extends layout

block content
  .container
    .row
      .col-md-8
        h1 #{title}
      .col-md-4
        a(class='btn btn-primary add-btn' href='/manage/articles/add') Add
    table(class='table table-striped')
      tr
        th Article Title
        th Date Published
        th Author
      each article, i in articles
        tr
          td #{article.title}
          td #{moment(article.created_at).format('MMMM do YYYY, h:mm:ssa')}
          td #{article.author}
          td
            a(class='btn btn-tiny btn-outline-primary' href=`/manage/article/edit/${article._id}`) Edit
